html {
    box-sizing: border-box;
  }
    
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

body {
    font-family: 'Roboto', sans-serif;
}

.navbar {
    margin-bottom: 80px;
    width: 69%;
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    width: 100%;
    align-items: center;
}

.navbar-container ul {
    list-style-type: none;
    display: flex;
}

.navbar-container a {
    text-decoration: none;
}

.hero-primary {
    font-size: 48px;
    color: #f9faf8;
    font-weight: 900;
    /* line-height: 75%; */
    margin-bottom: 12px;
}

.hero-secondary,
a {
    color: #ccd0d6;
    font-size: 18px;
}

.navbar-container li {
    margin-left: 24px;
}

header {
    background-color: #1f2937;
    padding-bottom: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo {
    color: #f9faf8;
    font-size: 24px;
    font-weight: 900;
}

.hero-container {
    display: flex;
    justify-content: center;
    gap: 24px;
    align-items: stretch;
    max-width: 69%;
}

.signup-button {
    background-color: #3882f6;
    color: white;
    border: none;
    font-weight: 700;
    padding: 8px 24px;
    border-radius: 8px;
    margin-top: 12px;
}

.hero-container img {
    /* height: auto; */
    width: 50%;
    max-height: 100%;
    object-fit: cover;
}

.second {
    display: flex;
    flex-direction: column;
    gap: 32px;
    justify-content: center;
    align-items: center;
    margin-bottom: 16px;
    padding-top: 32px;
    padding-bottom: 64px;
}

.information {
    font-size: 36px;
    color: #1f2937;
    font-weight: 900;
}

.imageinfo {
    display: flex;
    gap: 16px;
}

.imageinfo img {
    border-radius: 16px;
    border: 8px solid #3882f6;
}

.third {
    background-color: #e5e7eb;
    padding: 128px 64px;
    display: flex;
    flex-direction: column;    
}

.quote {
    color: #1f2937;
    font-size: 36px;
    font-weight: lighter;
}

.quoted {
    align-self: flex-end;
    font-weight: bold;
    font-size: 1.5rem;
    color: #1f2937;
    margin-right: 16px;
}

.fourth {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px;
}

.call-to-action {
    background-color: #3882f6;
    padding: 36px 64px;
    border-radius: 10px;
    display: flex;
    color: white;
    gap: 40px;
    align-items: center;
}

.action-header {
    font-weight: bold;
    font-size: 1.25rem;
}

.action-info {
    font-weight: lighter;
    color: rgb(228, 222, 222);
}

footer {
    background-color: #1f2937;
    text-align: center;
    padding: 32px;
}

.copyright {
    color: white;
    font-size: 1.15rem;
}

.lastbutton {
    margin: 0;
    border: 1px solid white;
}